body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #ffffff, #ffcccc);
  color: #333;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #7c0a02;
  color: #fff;
  padding-bottom: 18px;
  height: 5%;
  padding-left: 5%;
  margin-bottom: 5%;
}

header h1 {
  font-size: 25px;
}

header .back-button {
  cursor: pointer;
  font-size: 20px;
  height: 5%;
}

.back-button a{
  text-decoration: none;
  color: wheat;
}


.product-detail {
  text-align: center;
  margin-bottom: 30px;
  margin-right: 20%;
}

.product-detail img {
  width: 50%;
  max-width: 300px;
  border-radius: 10px;
}

.product-detail h2 {
  margin: 20px 0 10px;
  font-size: 22px;
}

.product-detail p {
  margin: 5px 0;
  font-size: 16px;
  color: #555;
}

.seller-info {
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.seller-info h3 {
  margin: 0 0 10px;
  font-size: 18px;
}

.seller-info p {
  margin: 5px 0;
}

h2{
  font-size: 50px;
  margin-top: -20px;
  margin-bottom: 20px;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 kolom dengan lebar sama */
  gap: 1px; /* Jarak antar elemen */
}

.img{
  margin-top: 0%;
  width: 413px;
  height: 319px;
  background-size: cover;
  background-position: center;
  margin-left: 15%;
  border-radius: 5%;
}

.detail{
  background: linear-gradient(to bottom, #ffffff, #ffcccc);
  box-shadow: inset;
  padding-left: 10%;
  width: 568px;
  height: 467px;
  padding-top: 5%;
  border-radius: 5%;
  border: 2px solid black;
}
.detail p{
  width: 90%;
}

.harga{
  width: 505px;
  height: 38px;
  font-size: 30px;
  border-radius: 50px;
  border: 2px solid black;
  padding-left: 3% ;
}

.user{
  display: flex;
  grid-template-columns: repeat(3, 1fr, 2fr);
  margin-top: 3%;
  margin-bottom: 5%;
}

.ppp{
  width: 10%;
}
.ket{
  font-size: large;
}

.pp{
  height: 50px;
  width: 50px;
  background-size: cover;
  border-radius: 50%;
}

h3{
  margin-bottom: -1px;
}

button{
  height: 7%;
  width: 90%;
  border: none;
  border-radius: 10px;
  font-size: larger;
  font-weight: bold;
  background-color: #FFCA03;
}