<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deskripsi Produk</title>
    <link rel="stylesheet" href="{% static 'products/css/deskripsi.css' %}">
</head>
<body>
    <header>
        <div class="back-button" onclick="goBack()">
            <a href="{% url 'product_list' %}">Kembali</a>
        </div>
    </header>
    <main>

        <div class="container">
            <div class="img">
            </div>
             <div class="detail">
                 <h2> {{product.name}} </h2>
                 <div class="harga">{{product.price}} </div>
                 <h3>Deskripsi Produk</h3>
                 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est sit, perferendis ipsa maiores eligendi, nulla nemo veritatis aliquam placeat quod neque doloremque excepturi asperiores. Fugit dolor molestias ducimus numquam excepturi!</p>
                 <h3>Detail Produk</h3>
                 <table>
                     <tr>
                         <td>berat</td>
                         <td></td>
                         <td>1kg</td>
                     </tr>
                     <tr>
                         <td>kondisi</td>
                         <td></td>
                         <td>Baru panen</td>
                     </tr>
                 </table>
                 <div class="user">
                     <div class="ppp">
                         <div class="pp"></div>
                     </div>
                     <div>
                         <div class="ket">nama user</div>
                         <div class="ket">Lokasi</div>
                     </div>
                 </div>
                 <button>beli</button>
             </div>
         </div>
       

    </main>
    
</body>
</html>
