<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Transaksi</title>
    <link rel="stylesheet" href="{% static 'products/css/detail_transaksi.css' %} ">
</head>
<body>
    <div class="card">
        <div class="transaksi">Detail Transaksi</div>
        <div class="nama_produk"> {{ transaction.product.name }} </div>
        <div class="img">
            <img src="{{ transaction.product.image.url }}" alt="Wortel Panjang" />
        </div>
        <div class="detail_transaksi">
            <div>Harga Satuan<br><span class="status-text">Rp.{{ transaction.product.price }}</span></div>
            <div>Jumlah<br><span class="status-text">{{ transaction.quantity }}</span></div>
            <div>Total Harga<br><span class="status-text">Rp.{{ transaction.total_price }}</span></div>
            <div>Status:<br><span class="status-text">Sukses</span></div>
        </div>
        <div class="review_name">Review</div>
        <div class="review">
            <label for="rating">Rating 1/5</label>
            <input type="text" id="rating" placeholder="Beri rating 1/5">
        </div>
        
            {% if review %}
            <h3>Review Anda</h3>
            <p>Rating: {{ review.rating }}/5</p>
            <p>Komentar: {{ review.komentar }}</p>
        {% else %}
            <p>Belum ada review. <a href="{% url 'products:add_review' transaction.id %}">Tambah Review</a></p>
        {% endif %}
        <div class="button-container">
            <button onclick="back_button()" class="back-button">Kembali ke Beranda</button>
        </div>
    </div>

    <script>
        function back_button() {
            window.location.href = "{% url 'products:product_list' %}";
        }
    </script>
</body>
</html>
