<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction Detail</title>
</head>
<body>
    <h1>Transaction Detail</h1>
    <h2>{{ transaction.product.name }}</h2>
    <img src="{{ transaction.product.image.url }}" alt="{{ transaction.product.name }}" style="width: 300px;">
    <p>Price per item: Rp{{ transaction.product.price }}</p>
    <p>Quantity: {{ transaction.quantity }}</p>
    <p>Total Price: Rp{{ transaction.total_price }}</p>
    <p>Status: {{ transaction.get_status_display }}</p>

    {% if review %}
        <h3>Review Anda</h3>
        <p>Rating: {{ review.rating }}/5</p>
        <p>Komentar: {{ review.komentar }}</p>
    {% else %}
        <p>Belum ada review. <a href="{% url 'products:add_review' transaction.id %}">Tambah Review</a></p>
    {% endif %}

    <a href="{% url 'products:product_list' %}"> Kembali </a>
</body>
</html>
